nav {
    background-color: #343b40;
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}

.navbar-nav {
    padding-bottom: 15px;
}

.navbar {
    margin: 0px;
    padding: 0px;
}

#nav-item-1 {
    padding-right: 10px;
}